<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Load the URDF model -->
  <include file="$(find actor_modelling)/launch/val_rviz.launch">
    <arg name="gui" value="false"/>
  </include>

  <!-- Run the imu filter madgwick -->
  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter" output="screen">
    <remap from="/imu/data_raw"         to="/imu/data_raw"/>
    <remap from="/imu/mag"              to="/imu/mag"/>
    <remap from="/imu/data"             to="/imu/data"/>
    <param name="use_mag"               value="false"/>
    <param name="publish_tf"            value="false"/>
    <param name="remove_gravity_vector" value="true"/>



  </node>

  <!-- Execute the Wireless XSens ROS Driver -->
  <node name="wireless_xsens_driver_node" pkg="actor_modelling" type="wireless_ros_driver.py" output="screen"/>

  <!-- Launch the joint state converter -->
  <node name="torso_control_node" pkg="actor_modelling" type="torso_control.py" output="screen">
    <remap from="/imu/data_raw" to="/imu/data"/>
  </node>

  <!-- Launch in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find actor_modelling)/rviz/urdf.rviz"/>


</launch>
